<header class="p-4 bg-secondary">
  <div class="container">
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary d-flex flex-wrap align-items-center justify-content-center justify-content-lg-around"
    >

      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand text-white" href="/">
            <h3 class="text-white">
            <span><svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512"><path d="M64 96H0c0 123.7 100.3 224 224 224v144c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V320C288 196.3 187.7 96 64 96zm384-64c-84.2 0-157.4 46.5-195.7 115.2 27.7 30.2 48.2 66.9 59 107.6C424 243.1 512 147.9 512 32h-64z"/></svg></span>
            <span>Tasty Food Recipes</span></h3>
        </a>
        
        <div class="navbar navbar-expand-lg navbar-bg-secondary bg-secondary" id="#navbarTogglerDemo01">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Foods", user_foods_path(current_user),
              class:"nav-link px-2 text-white"%>
            </li>
            <li class="nav-item">
              <%= link_to "Recipes", user_recipes_path(current_user),
              class:"nav-link px-2 text-white"%>
            </li>
            <% end %>
          </ul>
          <% if !user_signed_in? %>
          <div class="text-end d-flex space-around">
            <%= link_to 'Sign up', new_user_registration_path, class:"btn
            btn-salmon" %> <%= link_to 'Login', new_user_session_path, class:
            "btn btn-outline-light me-2"%>
          </div>

          <% else %>
          <div class="text-end">
            <%= button_to "Log Out", destroy_user_session_path, method: :delete,
            data: { turbo: false }, class:"btn btn-light" %>
          </div>
          </div>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
</header>
