<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="d-flex justify-content-center text-primary">Add new Recipe item</h3>
         <div class="card bg-light p-4">
                <%= form_for @recipe, url: user_recipes_path, local: true, data: {turbo:false} do |f| %>
                  <%= f.text_field :name, placeholder:"Recipe name", class:"form-control p-2 mt-2"  %>
                  <%= f.text_field :preparation_time, placeholder:"Preparation time", class:"form-control p-2 mt-2" %>
                  <%= f.text_field :cooking_time, placeholder:"Cooking time", class:"form-control p-2 mt-2" %>
                  <%= f.text_field :description, placeholder:"Description", class:"form-control p-2 mt-2" %>
                  <%= f.submit "Save Recipe", class: "btn btn-success btn-md p-2 mt-2" %>
                <% end %> 
         </div>
        </div>
    </div>
</div>
<%# Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni alias saepe pariatur a fugit vitae. %>