<div class='container'>
    <div class="recipe-container row d-flex justify-content-center p-4 m-4">
        <div class="col-12">
            <h2 class="d-flex justify-content-center text-primary"><%= @recipe.name %></h2>
            <h5 class="d-flex justify-content-end">
              <% if can? :manage, @recipe %>
                <% if @recipe.public %>
                  <%= button_to "Public", update_recipe_path(@recipe), method: :patch, class:"btn btn-success btn-sm" %>
                <% else %>
                  <%= button_to "Private", update_recipe_path(@recipe), method: :patch, class:"btn btn-secondary btn-sm" %>
                <% end %>
              <% end %>
            </h5>
            <h5 class="d-flex justify-content-start">Preparation time: <%= @recipe.preparation_time %></h5>
            <h5 class="d-flex justify-content-start">Cooking time: <%= @recipe.cooking_time %></h5>
        </div>
        <div class="col-md-8 p-2 my-2">
          <p><h4>Steps:</h4> <%= @recipe.description %></p>
        </div>
        <div class="row d-flex justify-content-between">
          <button class="col-md-2 btn btn-secondary btn-sm m-4">Generate Shopping List</button>
          <button class="col-md-2 btn btn-secondary btn-sm m-4">Add Ingredients</button>
        </div>

        <hr>
        <table class="table striped table-hover">
          <thead>
            <th>Food</th>
            <th>Quantity</th>
            <th>Value</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr>
              <td>Rice</td>
              <td>10 kg</td>
              <td>K100</td>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>