<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="d-flex justify-content-center text-primary">Add new food Item</h3>
         <div class="card  bg-light">
                <%=  form_for @food, url:user_foods_path, local: true, data: {turbo:false}  do |f| %>
                <%= f.text_field :name, placeholder:"Food name", class:"form_control p-2  m-4"  %>
                <%= f.text_field :measurement_unit, placeholder:"measurement unit", class:"form_control  p-2 m-4" %>
                <%= f.text_field :price, placeholder:"Food price", class:"form_control  p-2  m-4"%>
                <%= f.submit "Save Food", class: "btn btn-success btn-md   p-2  m-4" %>
                <% end %> 
         </div>
        </div>
    </div>
</div>